<nav class="mt-5" *ngIf="showTable">
    <div class="nav nav-tabs nav nav-tabs d-flex justify-content-start " id="nav-tab" role="tablist">

        <button class="btn btn-dark btn-lg ms-2 active" id="OBPConstruction-Pending-tab" data-bs-toggle="tab"
            style="padding: .15rem 2rem;" data-bs-target="#OBPConstruction-Pending" type="button" role="tab"
            aria-controls="OBPConstruction-Pending" aria-selected="true" (click)="ReloadData(-1)">
            Registration Form
        </button>

        <button class=" btn btn-lg btn-dark ms-2" id="OBPConstruction-Approved-tab" data-bs-toggle="tab"
            style="padding: .15rem 2rem;" data-bs-target="#OBPConstruction-Approved" type="button" role="tab"
            aria-controls="OBPConstruction-Approved" aria-selected="false">Status</button>


    </div>
</nav>

<div class="tab-content" id="nav-tabContent" *ngIf="showTable">

    <!-- Tab One All Pending contents -->
    <!-- <div class="tab-pane fade" id="OBPConstruction-Pending" role="tabpanel" aria-labelledby="OBPConstruction-Pending-tab"> -->
    <div class="tab-pane fade show active" id="OBPConstruction-Pending" role="tabpanel"
        aria-labelledby="OBPConstruction-Pending-tab" *ngIf="showTable">
        Registration Form
    </div>
</div>
<!-- Tab Two All Approved contents -->
<div class="tab-pane fade " id="OBPConstruction-Approved" role="tabpanel"
    aria-labelledby="OBPConstruction-Approved-tab">

    <div class="row">
        Status
    </div>
</div>